{
  "name": "SSLExpirationWatcher",
  "description": "Watch and notify SSL expiration",
  "runtime": "python3.8",
  "handler": "lambda_function.lambda_handler",
  "ignore": [
    "lambda_function\\.zip$"
  ],
  "timeout": 300,
  "memory": 128,
  "region": "ap-northeast-1",
  "role": "arn:aws:iam::************:role/iam-role-lambda-development",
  "variables": {
    "CONFIG_S3_BUCKET_NAME": "your-config-bucket-name",
    "CONFIG_S3_OBJECT_PATH": "your-config-bucket-file-path.json",
    "AWS_SES_REGION": "ap-northeast-1",
    "NOTICE_MAIL_FROM": "from-your-address@example.com",
    "NOTICE_MAIL_TO": "to-your-address@example.com"
    "SOCKET_TIMEOUT_SEC": "3",
    "SLEEP_TIME_SEC": "3"
  }
}

