#!/bin/bash

export AWS_PROFILE="yuor-aws-profile-name"
export AWS_DEFAULT_REGION="ap-northeast-1"


export $(cat functions/lambda.json | jq -r '.variables|keys[] as $k | "\($k)=\(.[$k])"')

## For Development
#export IS_DEBUG=1

